---
layout:
title: Welcome!
---
<div class="row">
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 o-img-container">
			<img src="assets/img/ph-fuschia.gif" class="img-responsive">
			<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
				<h4>Content and ROI</h4>
				<p class="small">HTML Email</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 o-img-container">
			<img src="assets/img/ph-aqua.gif" class="img-responsive">
		</div>
	</div>
</div>