---
layout:
title: Globals | StyleGuide by @thetanman
---
<div class="row">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<h1>{{ color.section-label }}</h1>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
			{{#each color.obj}}
			{{> color }}
			{{/each}}
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<h1>{{ typography.section-label }}</h1>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
			{{#each typography.obj}}
			{{> typography }}
			{{/each}}
		</div>
	</div>
</div>
