---
layout:
title: Globals | StyleGuide by @thetanman
---
<h1>Typography</h1>
<h2>Titles</h2>

<h1>The quick brown fox jumps over the lazy dog</h1>
<p>H1 styling</p>

<h2>The quick brown fox jumps over the lazy dog</h2>
<p>H2 styling</p>

<h3>The quick brown fox jumps over the lazy dog</h3>
<p>H3 styling</p>

<h1 class="subtitle">The quick brown fox jumps over the lazy dog</h1>
<p>H1 styling</p>

<h2 class="subtitle">The quick brown fox jumps over the lazy dog</h2>
<p>H2 styling</p>

<h3 class="subtitle">The quick brown fox jumps over the lazy dog</h3>
<p>H3 styling</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Body copy</p>