---
layout: ./src/templates/_layouts/default.hbs
---
<aside class="hidden-xs hidden-sm col-md-3" role="navigation">
 <ul>
   <li><a href="#">Body Text</a></li>
   <li><a href="#">hell</a></li>
 </ul>
</aside>
<main class="col-xs-12 col-md-9">
 {{> body }}
</main>
