---
layout: <%= site.layouts %>/child-layout.hbs
title: Atoms
---

<h1>Atoms</h1>

<h2>Headings</h2>

<h1>The quick brown fox jumps over the lazy dog</h1>
<h2>The quick brown fox jumps over the lazy dog</h2>
<h3>The quick brown fox jumps over the lazy dog</h3>
<h4>The quick brown fox jumps over the lazy dog</h4>
<h5>The quick brown fox jumps over the lazy dog</h5>
<h6>The quick brown fox jumps over the lazy dog</h6>

<h2>Body text</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<ol>
  <li><strong>Strong</strong></li>
  <li><em>Emphasis</em></li>
  <li><a href="#">Inline link</a></li>
  <li><strike>Strike-through</strike></li>
  <li><sup>Superscript</sup></li>
</ol>

<h2>Blockquotes</h2>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</blockquote>

<blockquote>
  <cite>Author</cite>
</blockquote>

<h2>Code</h2>

<code>
  <h1>Hello, World!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</code>




<h2>List types</h2>
<table>
  <tbody>
    <tr>
      <td>No bullets</td>
      <td>
        <ul class="no-bullets">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Round bullet</td>
      <td>
        <ul class="disc">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Square bullets</td>
      <td>
        <ul class="square">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Inline list</td>
      <td>
        <ul class="inline-list">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Numeric bullets</td>
      <td>
        <ol>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>Alpha bullets</td>
      <td>
        <ol class="alpha">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ol>
      </td>
    </tr>
  </tbody>
</table>

<h2>Tables</h2>

<table cellspacing="5" cellpadding="5">
  <tbody>
    <thead>
      <td>Metrics</td>
      <td>
        iPhone 2G, iPhone 3G, iPhone 3Gs
      </td>
      <td>
        iPhone 4, iPhone 4s
      </td>
      <td>
        iPhone 5, iPhone 5c, iPhone 5s
      </td>
      <td>
        iPhone 6, iPhone 6s
      </td>
      <td>
        iPhone 6 Plus, iPhone 6s Plus
      </td>
    </thead>
    <tr>
      <td>
        Points
      </td>
      <td>
        320 x 480
      </td>
      <td>
        320 x 480
      </td>
      <td>
        320 x 568
      </td>
      <td>
        375 x 667
      </td>
      <td>
        414 x 736
      </td>
    </tr>
  </tbody>
</table>

<h2>Forms</h2>

<form>
  <div>
    <input type="text" placeholder="Text input">
  </div>
  <div>
    <input type="text" placeholder="Text input" disabled>
  </div>
  <div>
    <select name="phones" id="phone">
      <option value="white-silver">White/Silver</option>
      <option value="space-grey">Space Gray</option>
      <option value="gold">Gold</option>
      <option value="rose-gold">Rose Gold</option>
    </select>
  </div>
</form>

"Mature, great character and substance. Sweet at times, but leaves a strong lasting impression. 

Wine was good too."

#31 #cougar #boomtown 
