---
layout: <%= site.layouts %>/child-layout.hbs
title: Atoms
---

<h1>Atoms</h1>

<h2>Body text</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<ol>
  <li><strong>Strong</strong></li>
  <li><em>Emphasis</em></li>
  <li><a href="#">Inline link</a></li>
  <li><strike>Strike-through</strike></li>
  <li><sup>Superscript</sup></li>
</ol>

<h2>Blockquotes</h2>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</blockquote>

<blockquote>
  <cite>Author</cite>
</blockquote>

<h2>Code</h2>

<code>
  <h1>Hello, World!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</code>

<h2>Headings</h2>

<h1>This is H1 text</h1>
<h2>This is H2 text</h2>
<h3>This is H3 text</h3>
<h4>This is H4 text</h4>
<h5>This is H5 text</h5>
<h6>This is H6 text</h6>


<h2>List types</h2>
<table>
  <tbody>
    <tr>
      <td>No bullets</td>
      <td>
        <ul class="no-bullets">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Round bullet</td>
      <td>
        <ul class="disc">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Square bullets</td>
      <td>
        <ul class="square">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Inline list</td>
      <td>
        <ul class="inline-list">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Numeric bullets</td>
      <td>
        <ol>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>Alpha bullets</td>
      <td>
        <ol class="alpha">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
        </ol>
      </td>
    </tr>
  </tbody>
</table>

<h2>Tables</h2>