---
title: Atoms
---
<h1>Pattern Library</h1>
<p>A library for modular web components. Built based on Brad Frost's <a href="http://atomicdesign.bradfrost.com/">Atomic Design</a> principles.</p>
<ol>
 <li><a href="/atoms">Atoms</a></li>
 <li><a href="/molecules">Molecules</a></li>
 <li><a href="/organisms">Organisms</a></li>
 <li><a href="/pages">Pages</a></li>
 <li><a href="/templates">Templates</a></li>
</ol>
